.header1 {
	font-family: Arial;
	font-weight: normal;
	font-size: 30px;
	color: #00b8ff;
}

.header2 {
	font-family: Arial;
	font-weight: normal;
	font-size: 15px;
	color: #686f72;
}

h3 {
	font-family: Arial;
	color: #00b8ff;
}

#preview-area {
	width: 800px;
	/*border: solid 1px gray;	*/
	margin: auto;	
	padding-top: 50px;
}

.preview-table {
	border: solid 1px gray;
	color: gray;
}

.align-right {
	text-align: right;
}

.pad-20 {
	padding: 20px;
}

table {
	width: 700px;
}

td {
	padding: 20px;
}

#home-content {
	display: none;
}

#title-block > td {
	font-family: Arial;
	font-weight: 700;
}

#image-block > td {
	padding: 0px;
}

#image-cropper {
	height: 341px;	
	background-color: gray;
	padding-top: 70px;
}

.crop-control {
	visibility: hidden;
}

#team-block > td {
	text-align: center;
	vertical-align: middle;
	padding: 170px 0px 20px 0px;
}

#footer-block > td {
	padding: 0px 20px 0px 20px;
}

#footer-block {	
	height: 80px;
	background-color: #d3d3d3;
	color: #939393;	
	bottom: 0px;
	vertical-align: middle;
	font-size: 12px;	
}

.logo {
	padding: 75px;
	width: 225px;
}

.separator {
	height: 1px;
	border: 1px solid lightgray;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}